
:root {
    --primary-green: #2ecc71;
    --danger-red: #e74c3c;
    --warning-orange: #f39c12;
    --dark-blue: #2c3e50;
    --light-gray: #f4f7f6;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--light-gray);
}


#map {
    height: 100vh;
    width: 100%;
    z-index: 1;
}

